.mainContent {
  flex: 7 1 auto;
  display: flex;
  justify-content: center;
  width: 94%;
  height: 80vh;
  background-color: var(--backcolor);
  color:black;
  padding: 3%;
}

.mainContent section {
  width: 50%;
}